h1{
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  color: white;

}
h2{
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;


}
p{
  padding:0 10%;
  color: grey;
}
/* body{
  font-family: Montserrat;
} */



#title{
  background-color: #ff4c68;
  font-family: 'Ubuntu', sans-serif;

}




.container-fluid{
  padding:3% 15% 10%;
}

/* navbar */
.navbar{
  padding:0 0 12% ;
}

.navbar-brand{
  line-height: 1.5;
  font-weight: bold;
  font-size: 2.5rem;

}
.nav-item{
  padding:0 18px;

}
 .nav-link{

  font-size: 1.2rem;
}

/* download buttons */
.download-buttons{
  margin: 3% 5% 3% 0;
}

/* title image */
.title-image{
  width: 64%;
  transform: rotate(20deg);
  right: 30%;
  position: absolute;
}

/* features */
#features{
  padding:7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;

}
.feature-box{
  text-align: center;
  /* padding:5% ; */


}
.icon{
  color: #ef8172;
  margin-bottom: 5%;
}
.icon:hover{
  color: #ff4c68;
}
/* testimonial section */

#testimonials{

  text-align: center;
  background-color:  #ef8172;
  color: white;
}
.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item{
  padding: 7% 15%;
}

/* press section */
#press{
  text-align: center;
  background-color:  #ef8172;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;

}

/* pricing */
#pricing{
  text-align: center;
  padding:100px;
}
.pricing-col{
  padding:3% 2%;

}
/* call to action section*/

#cta{
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
}
.cta-text{
  font-family: 'Montserrat',sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  color: white;
  margin-bottom: 35px;

}

/* footer section*/
#footer{
  text-align: center;
  padding: 7% 15%;
}
.footer-icons{
  padding: 0 0.5%;

}
.footer-text{
  padding:1%;
}

@media (max-width:1028px)
{
  .title-image{
    position: static;
    transform: rotate(0);
  }
  #title{
    text-align: center;
  }
}
